@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Merriweather", serif;
}

/* Banner section styles */

.banner_contanier {
     width: 1320px;
     margin: 0 auto;
     border: 2px solid  red;
     min-height: 600px;
     margin-top: 20px;
     background-color: rgba(0, 0, 0, 0.5);
     background-image: url(../images/Banner\ Image.png);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     background-blend-mode: overlay;
}
.banner_content {
    display: flex;
    flex-direction: column;
    height: 600px;
    align-items: center;
    justify-content: center;
}
.banner_content  p,
h1 {
   color: #fff;
}

.banner_content p {
    font-size: 32px;
    font-weight: 400;
}

.banner_content h1 {
    font-size: 72px;
    font-weight: 900;
}